footer {
  display: flex;
  gap: 1.5rem;
  padding-block: 1.5rem;

  font: 0.875rem/150% var(--font-family);

  & span:nth-child(1) {
    margin-right: auto;
  }

  & div {
    display: flex;
    gap: 1rem;
  }
}

@media (max-width: 23.4375em) {
  footer.container {
    flex-direction: column;
    padding-block: 1rem;
    gap: 1rem;

    & span:first-child {
      margin: 0 auto;
    }

    & div {
      max-width: 18.5625rem;
    }
  }
}
