header {
  padding-block: 2rem;
  font: var(--text-md);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile {
  display: flex;
  gap: 2rem;
}

#profile > div {
  max-width: 24rem;
}

#profile img {
  width: 11rem;
  height: 11rem;
  object-fit: cover;
  border-radius: 50%;
}

#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 0.5rem;
}

#info {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 17.5rem;
}

#info li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 23.4375em) {
  header .container,
  #profile {
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }

  #profile {
    gap: 1rem;
  }

  #primary-menu li:nth-child(2),
  #primary-menu li:nth-child(3) {
    display: none;
  }

  #profile img {
    width: 7.5rem;
    height: 7.5rem;
  }

  #profile h1 {
    font: var(--text-lg-M);
  }

  #info li {
    gap: 1rem;
  }
}
